{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

{% if blog_count > 5 %}
<h1 id="blogtitle" class="text-center fw-bold mb-3">Blog</h1>
<h3 class="text-center mb-5">Monil has written {{ blog_count }} blog{{ blog_count|pluralize }}</h3>
{% else %}
<h1 id="blogtitle" class="text-center fw-bold mb-5">Blog</h1>
{% endif %}
{% for blog in blogs %}

<div class="row justify-content-center my-3">

    <div class="col-md-10">

        <a href="{% url 'blog:detail' blog.id %}">
            <h2>{{ blog.title }}</h2>
        </a>

        <h5 class="text-muted">{{ blog.date|date:'F d, Y' }}</h5>
        <h4>{{ blog.description|truncatechars:100|striptags }}</h4>
    </div>

</div>




{% endfor %}

{% endblock %}